h1{
    padding: 0;
}

.wrap_head {
    padding: 20px;
    border: 1px solid gray;
}

.wrap_head .hd_img {
    width: 100px;
    height: 43px;
}

.wrap_head .wrap_search {
    width:300px;
    margin-left: 1760px;
    margin-top: -40px;
}

.wrap_carousel {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width:450px;
}

/*img 태그는 속성이 inline이면서block이다.*/
.wrap_carousel img {
    width: 450px;
    height: 170px;
}

.login {
    width:350px;
    border:1px solid gray;
    border-radius: 5px; 
    padding: 5px;
    margin-top:-170px;
    margin-left: 1700px;

}


.login .form-control {
    width:300px;
}


/*멤버 소개*/


.wrap_member .card{
    display:inline-block;
    margin-top: 50px;
    margin-left: 50px;
}

.h1_member {
    display:inline-block;
    background-image: url(/images/member.PNG);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width:100px;
    margin-left: 50px;

}

.progress .progress-bar {
    margin-bottom: 15px;
}

.wrap_footer {

    border-top: 1px solid gray;
    padding: 20px;
    
}

.wrap_footer .footer_logo {
    width: 100px;

}

.wrap_footer .footer_h5 {
    display:inline-block;
    width:500px;
    margin-left: 1700px;
    background-color: red;
}